In [ ]:
import pandas as pd
import requests
import bs4
import re

In [ ]:
response_page = requests.get('http://www.scrapethissite.com/pages/forms/')

response_text = response_page.text

soup = bs4.BeautifulSoup(response_text, 'html.parser')

print(f"{soup}")

In [ ]:
team = soup.select('.team')

len(team)

25

In [ ]:
team[1]

<tr class="team">
<td class="name">
                            Buffalo Sabres
                        </td>
<td class="year">
                            1990
                        </td>
<td class="wins">
                            31
                        </td>
<td class="losses">
                            30
                        </td>
<td class="ot-losses">
</td>
<td class="pct text-danger">
                            0.388
                        </td>
<td class="gf">
                            292
                        </td>
<td class="ga">
                            278
                        </td>
<td class="diff text-success">
                            14
                        </td>
</tr>

In [ ]:
team_name = team[0].select('.name')[0].get_text()
team_name

'\n                            New York Islanders\n                        '

In [ ]:
team_year = team[0].select('.year')[0].get_text()
team_year

'\n                            1990\n                        '

In [ ]:
team_wins = team[0].select('.wins')[0].get_text()
team_wins

'\n                            44\n                        '

In [ ]:
team_losses = team[0].select('.losses')[0].get_text()
team_losses

In [ ]:
team_ot_losees = team[0].select('.ot-losses')[0].get_text()
team_ot_losees

'\n'

In [ ]:
team_pct = team[0].select('.pct')[0].get_text()
team_pct

'\n                            0.55\n                        '

In [ ]:
team_gf = team[0].select('.gf')[0].get_text()
team_gf

In [ ]:
team_ga = team[0].select('.ga')[0].get_text()
team_ga

In [ ]:
team_diff = team[0].select('.diff')[0].get_text()
team_diff

'\n                            35\n                        '

In [ ]:
pagination_base_url = 'http://www.scrapethissite.com/pages/forms/?page_num={}'

page_no = input('Page No. between 1-24: ')

site_url = pagination_base_url.format(page_no)

response_page = requests.get(site_url)

response_text = response_page.text

soup = bs4.BeautifulSoup(response_text, 'html.parser')

team = soup.select('.team')

Page No. between 1-24: 18

In [ ]:
def numerics(text):
  numeric_pattern = re.compile(r'([^\n]+)')
  result = re.findall(numeric_pattern, text)
  return result[0]

In [ ]:
def alphabetic(text): 
  name_pattern = re.compile(r'([^\s\n]+)')
  result = re.findall(name_pattern, text)
  name = ' '.join(result)
  return name

In [ ]:

name=[]
year=[]
wins=[]
losses=[]
ot_losses=[]
pct=[]
gf=[]
ga=[]
diff=[]

for i in range(len(team)):

  text = team[i].select('.name')[0].get_text()
  name.append(alphabetic(text))

  text = team[i].select('.year')[0].get_text()
  year.append(numerics(text))

  text = team[i].select('.wins')[0].get_text()
  wins.append(numerics(text))

  text = team[i].select('.losses')[0].get_text()
  losses.append(numerics(text))
  
  ot = team[i].select('.ot-losses')[0].get_text()
  
  if ot == '\n':
    ot_losses.append(None)
  else:
    text = team[i].select('.ot-losses')[0].get_text()
    ot_losses.append(numerics(text))

  text = team[i].select('.pct')[0].get_text()
  pct.append(numerics(text))

  text = team[i].select('.gf')[0].get_text()
  gf.append(numerics(text))

  text = team[i].select('.ga')[0].get_text()
  ga.append(numerics(text))

  text = team[i].select('.diff')[0].get_text()
  diff.append(numerics(text))

In [ ]:
Informations = {
    'Team name': name,
    'Year': year,
    'Wins': wins,
    'Losses': losses,
    'OT Losses': ot_losses,
    'Win %': pct,
    'Goals For': gf,
    'Goals Against': ga,
    '+/-': diff
}

In [ ]:
Dataframe = pd.DataFrame(Informations)
Dataframe

,Team name,Year,Wins,Losses,OT Losses,Win %,Goals For,Goals Against,+/-
0,Pittsburgh Penguins,Pittsburgh Penguins,Pittsburgh Penguins,Pittsburgh Penguins,Pittsburgh Penguins,Pittsburgh Penguins,Pittsburgh Penguins,Pittsburgh Penguins,Pittsburgh Penguins
1,2006,2006,2006,2006,2006,2006,2006,2006,2006
2,47,47,47,47,47,47,47,47,47
3,24,24,24,24,24,24,24,24,24
4,11,11,11,11,11,11,11,11,11
...,...,...,...,...,...,...,...,...,...
220,7,7,7,7,7,7,7,7,7
221,0.561,0.561,0.561,0.561,0.561,0.561,0.561,0.561,0.561
222,206,206,206,206,206,206,206,206,206
223,197,197,197,197,197,197,197,197,197
224,9,9,9,9,9,9,9,9,9

In [ ]:
for i in range(5):
  print(f"{team[i].select('.pct')[0].get_text()}")

                            0.55


                            0.388


                            0.575


                            0.613


                            0.425

In [ ]:
print(f"{team[2].select('.pct')[0].get_text()}")

                            0.575

In [ ]:
team[2]

<tr class="team">
<td class="name">
                            Calgary Flames
                        </td>
<td class="year">
                            1990
                        </td>
<td class="wins">
                            46
                        </td>
<td class="losses">
                            26
                        </td>
<td class="ot-losses">
</td>
<td class="pct text-success">
                            0.575
                        </td>
<td class="gf">
                            344
                        </td>
<td class="ga">
                            263
                        </td>
<td class="diff text-success">
                            81
                        </td>
</tr>

In [ ]:
name_pattern = re.compile(r'([^\s\n]+)')
text = '\n                         Boston Bruins\n             '
result = re.findall(name_pattern, text)

In [ ]:
text = ' '.join(result)
# print(f'{' '.join(result)}')

In [ ]:
Dataframe['OT Losses'].astype(int)

TypeError: ignored

In [ ]:
import pandas as pd
import requests
import bs4
import re

In [ ]:
def find_page(url):
  response_page = requests.get(url)

  response_text = response_page.text

  soup = bs4.BeautifulSoup(response_text, 'html.parser')

  return soup

In [ ]:
def numerics(text):
  numeric_pattern = re.compile(r'([^\n]+)')
  result = re.findall(numeric_pattern, text)
  return result[0]

In [ ]:
def alphabetic(text): 
  name_pattern = re.compile(r'([^\s\n]+)')
  result = re.findall(name_pattern, text)
  name = ' '.join(result)
  return name

In [ ]:
def grab_informations(team):
  
  name=[]
  year=[]
  wins=[]
  losses=[]
  ot_losses=[]
  pct=[]
  gf=[]
  ga=[]
  diff=[]

  for i in range(len(team)):

    text = team[i].select('.name')[0].get_text()
    name.append(alphabetic(text))

    text = team[i].select('.year')[0].get_text()
    year.append(numerics(text))

    text = team[i].select('.wins')[0].get_text()
    wins.append(numerics(text))

    text = team[i].select('.losses')[0].get_text()
    losses.append(numerics(text))
    
    ot = team[i].select('.ot-losses')[0].get_text()
    
    if ot == '\n':
      ot_losses.append(None)
    else:
      text = team[i].select('.ot-losses')[0].get_text()
      ot_losses.append(numerics(text))

    text = team[i].select('.pct')[0].get_text()
    pct.append(numerics(text))

    text = team[i].select('.gf')[0].get_text()
    gf.append(numerics(text))

    text = team[i].select('.ga')[0].get_text()
    ga.append(numerics(text))

    text = team[i].select('.diff')[0].get_text()
    diff.append(numerics(text))
  
  Informations = {
    'Team name': name,
    'Year': year,
    'Wins': wins,
    'Losses': losses,
    'OT Losses': ot_losses,
    'Win %': pct,
    'Goals For': gf,
    'Goals Against': ga,
    '+/-': diff
  }

  view_frame = pd.DataFrame(Informations)

  return view_frame

In [ ]:
pagination_base_url = 'http://www.scrapethissite.com/pages/forms/?page_num={}'

page_no = input('Page No. between 1-24: ')

site_url = pagination_base_url.format(page_no)

source_code = find_page(site_url)

team = source_code.select('.team')

ViewFrame = grab_informations(team)

ViewFrame

Page No. between 1-24: 13

,Team name,Year,Wins,Losses,OT Losses,Win %,Goals For,Goals Against,+/-
0,New York Islanders,2001,42,28,4,0.512,239,220,19
1,New York Rangers,2001,36,38,4,0.439,227,258,-31
2,Ottawa Senators,2001,39,27,7,0.476,243,208,35
3,Philadelphia Flyers,2001,42,27,3,0.512,234,192,42
4,Phoenix Coyotes,2001,40,27,6,0.488,228,210,18
5,Pittsburgh Penguins,2001,28,41,5,0.341,198,249,-51
6,San Jose Sharks,2001,44,27,3,0.537,248,199,49
7,St. Louis Blues,2001,43,27,4,0.524,227,188,39
8,Tampa Bay Lightning,2001,27,40,4,0.329,178,219,-41
9,Toronto Maple Leafs,2001,43,25,4,0.524,249,207,42
10,Vancouver Canucks,2001,42,30,3,0.512,254,211,43
11,Washington Capitals,2001,36,33,2,0.439,228,240,-12
12,Mighty Ducks of Anaheim,2002,40,27,6,0.488,203,193,10
13,Atlanta Thrashers,2002,31,39,5,0.378,226,284,-58
14,Boston Bruins,2002,36,31,4,0.439,245,237,8
15,Buffalo Sabres,2002,27,37,8,0.329,190,219,-29
16,Calgary Flames,2002,29,36,4,0.354,186,228,-42
17,Carolina Hurricanes,2002,22,43,6,0.268,171,240,-69
18,Columbus Blue Jackets,2002,29,42,3,0.354,213,263,-50
19,Chicago Blackhawks,2002,30,33,6,0.366,207,226,-19
20,Colorado Avalanche,2002,42,19,8,0.512,251,194,57
21,Dallas Stars,2002,46,17,4,0.561,245,169,76
22,Detroit Red Wings,2002,48,20,4,0.585,269,203,66
23,Edmonton Oilers,2002,36,26,9,0.439,231,230,1
24,Florida Panthers,2002,24,36,9,0.293,176,237,-61

In [ ]:
name_pattern = re.compile(r'([^\s\n]+)')
text = '\n                         Boston Bruins\n             '
result = re.findall(name_pattern, text)
text = '+'.join(result)
print(f'{text}')

Boston+Bruins

In [ ]:
def make_team_name(text):
  name_pattern = re.compile(r'([^\s\n]+)')
  result = re.findall(name_pattern, text)
  text = '+'.join(result)
  return text

In [ ]:
search_base_url = 'http://www.scrapethissite.com/pages/forms/?q={}'

team_name = input('Team Name: ')

team_name = make_team_name(team_name)

site_url = search_base_url.format(team_name)

source_code = find_page(site_url)

team = source_code.select('.team')

ViewFrame = grab_informations(team)

ViewFrame

Team Name: Hartford Whalers

,Team name,Year,Wins,Losses,OT Losses,Win %,Goals For,Goals Against,+/-
0,Hartford Whalers,1990,31,38,None,0.388,238,276,-38
1,Hartford Whalers,1991,26,41,None,0.325,247,283,-36
2,Hartford Whalers,1992,26,52,None,0.31,284,369,-85
3,Hartford Whalers,1993,27,48,None,0.321,227,288,-61
4,Hartford Whalers,1994,19,24,None,0.396,127,141,-14
5,Hartford Whalers,1995,34,39,None,0.415,237,259,-22
6,Hartford Whalers,1996,32,39,None,0.39,226,256,-30