<a href="https://colab.research.google.com/github/Neloy-Barman/Basic_Web_Scraping/blob/main/Scraping_Countries.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **`Essential imports`**

In [1]:
import re
import bs4
import requests
import pandas as pd

# **`Page url & grabbing source code`**

In [ ]:
page_url = 'https://www.scrapethissite.com/pages/simple/'

response_url = requests.get(page_url)

response_text = response_url.text

soup = bs4.BeautifulSoup(response_text, 'html.parser')

# **`Selection of Country div`**

In [9]:
Country_div = soup.select('.col-md-4.country')
len(Country_div)

250

# **`Discarding spaces & new line.`**

In [25]:
def text_only(text):
  pattern = re.compile(r'([^\s\n]+)')
  result = re.findall(pattern, text)
  text = ' '.join(result)
  return text

# **`Grabbing informations.`**

In [36]:
c_name = []
c_capital = []
c_population = []
c_area = []

for i in range(len(Country_div)):
  country_name = Country_div[i].select('.country-name')
  text = country_name[0].get_text()
  c_name.append(text_only(text))

  capital = Country_div[i].select('.country-capital')
  text = capital[0].get_text()
  c_capital.append(text_only(text))

  population = Country_div[i].select('.country-population')
  text = population[0].get_text()
  c_population.append(text_only(text))

  area = Country_div[i].select('.country-area')
  text = area[0].get_text()
  c_area.append(text_only(text))

# **`Passing the informations into the dictionary.`**

In [41]:
Country = {
    'Country Name' : c_name,
    'Capital' : c_capital,
    'Population' : c_population,
    'Area' : c_area
}

# **`Passing the dictionary into a dataframe & viewing the frame.`**

In [45]:
ViewFrame = pd.DataFrame(Country)

print(f'{ViewFrame}')

             Country Name           Capital Population       Area
0                 Andorra  Andorra la Vella      84000      468.0
1    United Arab Emirates         Abu Dhabi    4975593    82880.0
2             Afghanistan             Kabul   29121286   647500.0
3     Antigua and Barbuda        St. John's      86754      443.0
4                Anguilla        The Valley      13254      102.0
..                    ...               ...        ...        ...
245                 Yemen             Sanaa   23495361   527970.0
246               Mayotte         Mamoudzou     159042      374.0
247          South Africa          Pretoria   49000000  1219912.0
248                Zambia            Lusaka   13460305   752614.0
249              Zimbabwe            Harare   11651858   390580.0

[250 rows x 4 columns]

In [47]:
ViewFrame.head(20)

              Country Name           Capital Population       Area
0                  Andorra  Andorra la Vella      84000      468.0
1     United Arab Emirates         Abu Dhabi    4975593    82880.0
2              Afghanistan             Kabul   29121286   647500.0
3      Antigua and Barbuda        St. John's      86754      443.0
4                 Anguilla        The Valley      13254      102.0
5                  Albania            Tirana    2986952    28748.0
6                  Armenia           Yerevan    2968000    29800.0
7                   Angola            Luanda   13068161  1246700.0
8               Antarctica              None          0      1.4E7
9                Argentina      Buenos Aires   41343201  2766890.0
10          American Samoa         Pago Pago      57881      199.0
11                 Austria            Vienna    8205000    83858.0
12               Australia          Canberra   21515754  7686850.0
13                   Aruba        Oranjestad      71566      193.0
14                   Ã…land         Mariehamn      26711     1580.0
15              Azerbaijan              Baku    8303512    86600.0
16  Bosnia and Herzegovina          Sarajevo    4590000    51129.0
17                Barbados        Bridgetown     285653      431.0
18              Bangladesh             Dhaka  156118464   144000.0
19                 Belgium          Brussels   10403000    30510.0